body{
      background: rgb(0,212,255);
      color:white;
      background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(9,9,121,1) 100%, rgba(0,212,255,1) 100%);
    }

    #search{
      height:50px;
      border-radius:30px;
    }
    input[type="search"] {
    font-family: FontAwesome;
}
.product-top{
  background: rgb(7,72,160);
background: linear-gradient(90deg, rgba(7,72,160,1) 2%, rgba(7,115,160,1) 95%, rgba(9,64,121,1) 100%);
}

.btn-circle {
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  padding: 0;
  border: 3px solid yellow;
  border-radius: 50%;
  background: black;
}

.btn-circle span{
  position: relative;
  color:white;
  font-size: 16px;
  font-weight: bold;
  font-family: monospace;
  top: -1px;
}

.btn-circle-sm {
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 0.9rem;
}

.btn-circle-lg {
  width: 55px;
  height: 55px;
  line-height: 55px;
  font-size: 1.1rem;
}

.btn-circle-xl {
  width: 70px;
  height: 70px;
  line-height: 70px;
  font-size: 1.3rem;
}
img{
  height: 300px !important;
  width:100% !important;
}

